@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #070529;
  font-family: Arial, Helvetica, sans-serif;
}

<<<<<<< Updated upstream
html,
body {
=======
html, body {
>>>>>>> Stashed changes
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.body-no-scroll {
<<<<<<< Updated upstream
  overflow: hidden;
  height: 100%;
}
=======
  overflow: hidden; 
  height: 100%;
}
>>>>>>> Stashed changes
